<!-- <h2>Order To Edit {{ orderToEdit }}</h2> -->
<div layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div style="width:auto">
        <h3 style="width=200px"> {{orderToEdit.user}} </h3>
        <md-button style="width: 100px" ng-click="updateOrder(orderToEdit, update)" > Update </md-button>
    </div>

<!--       <md-input-container>
        <label>User</label>
        <input ng-model="update.user" placeholder="{{orderToEdit.user}}">
      </md-input-container> -->
      <div class="md-padding" ng-cloak>
      <md-card col-md-4>
          <div>
            <h1 class="md-title">Change Status</h1>
            <div layout="row">
              <md-input-container>
                <md-select ng-init="update.status = orderToEdit.status" ng-model="update.status">
                  <md-option value="{{status}}" ng-repeat="status in statuses">
                    {{status}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </md-card>
      <md-card col-md-4>
        <h1 class="md-title">Products:</h1>
        <md-list-item class="md-2-line" ng-repeat="product in orderToEdit.products" ng-init="update.products = orderToEdit.products">
<!--         <md-checkbox ng-click="item.done"></md-checkbox> -->
            <md-button class="btn1" ng-click="editProductForm(product)" > Edit Product </md-button>
            <img ng-src="{{product.images[0]}}" class="md-avatar"/>

            <div class="md-list-item-text">
              <h3>{{product.title}}</h3>
              <p>{{product.description}}</p>
              <p>${{product.price}}</p>
            </div>

            <md-button class="btn1" ng-click="removeProduct(product)" > Delete </md-button>
        </md-list-item>
        <h1 class="md-title" ng-hide="orderToEdit.products.length">There are no more Products</h1>
      </md-card>

    </div>
  </md-content>
</div>
<md-button class="btn1" ng-click="updateOrder(orderToEdit, update)" > Update </md-button>
