Shopping Cart

{{cart | json}}

<div class='md-padding' layout="row" layout-wrap>
	<br>
	<table>
		<thead>
			<tr>
				<th>Package</th>
				<th>Location</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Actions</th>
			</tr>
		</thead>
		<!-- <tr ng-repeat="item in consolidateCart"> -->
		<tr ng-repeat="item in cart.products">
			<!-- <td>
				<img ng-src="{{imagePath}}" style="width: 10%">
			</td> -->
			<td>{{item.product.title}}</td>
			<td>{{item.product.location}}</td>
			<td>{{item.finalPrice | currency}}</td>
			<td>{{item.quantity}}</td>
			<td>
				<md-button class="md-fab" aria-label="Eat cake" ng-click="add(item.product._id)"><md-icon>+</md-icon></md-button>
			</td>
			<td>
				<md-button class="md-fab" aria-label="Eat cake" ng-click="subtract(item.product._id)">
				<md-icon>-</md-icon>
			</td>
			<td>
				<md-button class="md-fab" aria-label="Eat cake" ng-click="remove(item.product._id)"><md-icon>X</md-icon>
			</md-button>
		</td>

	</tr>
	<tr>
		<th></th>
		<th>Total</th>
		<th>{{totalPrice | currency}}</th>
	</tr>

</table>

<button ng-click="checkout()">Proceed to check-Out
</button>



</div>
