CHECKOUT PAGE

<div class='md-padding' layout="row" layout-wrap>
	<br>
	<table>
		<thead>
		<tr>
			<th>Package</th>
			<th>Location</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tr ng-repeat="item in cart.products">		
			<td>{{item.product.title}}</td>
			<td>{{item.product.location}}</td>
			<td>{{item.productTotal | currency}}</td>
			<td>{{item.quantity}}</td>
		</tr>
		<tr>
			<th></th>
			<th>Total</th>
			<th>{{cart.cartTotal | currency}}</th>
		</tr>
	</table>
	<button ng-click="editOrder()">EditOrder</button>
	<button ng-click="confirm()">Confirm Order</button>
</div>