<!-- orderProcessing.template.html -->

CHECKOUT PAGE

Consolidated Cart {{consolidateCart}}


<!-- {{pastOrders}} -->
<div class='md-padding' layout="row" layout-wrap>
	<br>
	<table>
		<thead>
			<tr>
				<th>Package</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tr ng-repeat="product in consolidateCart">
			<!-- <td>
				<img ng-src="{{imagePath}}" style="width: 10%">
			</td> -->
			<td>{{product.title}}</td>
			<td>{{product.finalPrice | currency}}</td>
			<td>{{product.quantity}}</td>
			<!-- <td>{{product.finalPrice}}</td> -->
		</tr>
		<tr>
			<th></th>
			<th>Total</th>
			<th>{{totalPrice | currency}}</th>
	</tr>
	</table>
	<button ng-click="editOrder()">EditOrder</button>
	<button ng-click="confirm()">Confirm Order</button>

	<!-- {{message}} -->

</div>