CHECKOUT PAGE

<div class='md-padding' layout="row" layout-wrap>
    <br>
    <table>
        <thead>
        <tr>
            <th>Package</th>
            <th>Location</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tr ng-repeat="item in cart.products">
            <td>{{item.product.title}}</td>
            <td>{{item.product.location}}</td>
            <td>{{item.productTotal | currency}}</td>
            <td>{{item.quantity}}</td>
        </tr>
        <tr>
            <th></th>
            <th>Total</th>
            <th>{{cart.cartTotal | currency}}</th>
        </tr>
    </table>
    <form action="" method="POST">
        <h1>Stripe Checkout</h1>
        <input name="amount" value="{{cart.cartTotal * 100}}" input type="hidden">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_baVyKj915LMNByhXkC1fJBqS"
            data-amount="{{cart.cartTotal * 100}}"
            data-name="Stripe.com"
            data-description="Widget"
            data-locale="auto">
          </script>
    </form>
    <button ng-click="editOrder()">EditOrder</button>
    <button ng-click="confirm()">Confirm Order</button>
</div>
