<!-- User Account

Welcome, {{loggedInUser.email}}

<div class='md-padding' layout="row" layout-wrap>
	<br>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Package</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="product in processing.products">
			<td>{{product._id}}</td>
			<td>{{product.location}}</td>
			<td>{{product.price | currency}}</td>
			<td>
	</td>

</tr>


Past Orders
<div class='md-padding' layout="row" layout-wrap>
	<br>
	<table ng-repeat='pastOrder in pastOrders'>
		<thead>
			<tr>
				<th></th>
				<th>Package</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="product in pastOrder">
			<td>{{product._id}}</td>
			<td>{{product.location}}</td>
			<td>{{product.price | currency}}</td>
			<td>
				<md-button class="md-fab" aria-label="Eat cake" ng-click="add(product._id)"><md-icon>+</md-icon></md-button>
			</td>
		<td>
			<md-button class="md-fab" aria-label="Eat cake" ng-click="subtract(product._id)">
			<md-icon>-</md-icon>
		</td>
		<td>
			<md-button class="md-fab" aria-label="Eat cake" ng-click="remove(product._id)"><md-icon>X</md-icon>
		</md-button>
	</td>

</tr>

</table>

<button ng-click="continueShopping()">Continue Shopping
</button>

</div> -->