  <div layout="row">
    <admin-nav></admin-nav>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="product in products">
        <md-checkbox ng-model="item.done"></md-checkbox>
        <div class="md-list-item-text">
            <img ng-src="{{product.images[0]}}" class="md-avatar"/>
        </div>
        <div class="md-list-item-text">
            <h3>{{product.title}}</h3>
            <p>{{product.location}}</p>
        </div>
        <div class="md-list-item-text">
            <p>Inventory: {{product.inventory}}</p>
            <h4>{{product.price | currency}}</h4>
        </div>
         <div class="md-list-item-text">
            <p>{{product.description | cut:true:50:'...'}}</p>
        </div>
        <div class="md-list-item-text">
            <p>{{product.categories.join(", ")}}</p>
        </div>
        <md-button class="btn1" ng-click="deleteProduct(product, $index);"> Delete </md-button>
        <md-button class="btn1" ng-click="editForm(product);"> Edit </md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
</div>
