<md-list>
    <md-list-item class="md-2-line">
        <div style="width: 20px"></div>
            <div class="md-list-item-text" style="width:200px">
                <h3> {{ order.user.email }} </h3>
            </div>
             <div class="md-list-item-text" style="width:200px">
                <h3 ng-repeat="product in order.products">
                    <img ng-src="{{product.images[0]}}" class="md-avatar"/>
                    {{ product.title }}
                </h3>
                <h3 ng-hide="order.products.length"> No Products </h3>
            </div>
            <div class="md-list-item-text" ng-show="order.findalPrice.length" style="width:200px">
                <p>{{order.finalPrice}}</p>
            </div>
            <div class="md-list-item-text" style="width:100px">
                <p>{{order.status}}</p>
            </div>
        <md-button class="btn1" ng-click="deleteOrder(order._id);" style="text-align: center"> Delete </md-button>
        <md-button class="btn1" ng-click="editOrderForm(order);" style="text-align: center"> Edit </md-button>
    </md-list-item>
</md-list>
