<admin-toolbar></admin-toolbar>


<div layout="row">

  <admin-nav></admin-nav>

  <md-list>

    <!-- TABLE HEADER DIRECTIVE-->
      <admin-order-header></admin-order-header>

    <!-- ALL ORDERS FILTERED BY update.status -->
      <admin-order-list ng-repeat="order in update.allOrders | filter: update.status" ng-show="update.status!=='all'"></admin-order-list>

    <!-- ALL ORDERS FILTERED BY update.status==='all' -->
      <admin-order-list ng-repeat="order in update.allOrders" ng-show="update.status==='all'"></admin-order-list>

    <!-- NO ORDERS - this div shows -->
    <h3 ng-hide="update.allOrders.length" style="text-align: center"> ***There are no Orders*** </h3>

  </md-list>

</div>
