<div layout="row" layout="column">
    <section layout="row" flex>
        <md-button ui-sref="admin">Admin</md-button>
        <md-button ui-sref="adminOrder">Orders</md-button>
        <md-button ui-sref="adminUser">Users</md-button>
        <md-button ui-sref="adminReview">Reviews</md-button>
    </section>
</div>

<md-list>
    <md-list-item class="md-2-line">
<!--     <md-checkbox></md-checkbox> -->
    <div style="width: 100px"></div>
    <div class="md-list-item-text">
         <h2>User</h2>
    </div>
     <div class="md-list-item-text">
         <h2>Products</h2>
    </div>
    <div class="md-list-item-text" ng-show="order.findalPrice.length" style="text-align: center">
         <h2 style="text-align: center">Final Price</h2>
    </div>
    <div class="md-list-item-text">
      <div layout="row">
        <md-input-container>
          <md-select ng-model="update.status">
            <md-option value="{{status}}" ng-repeat="status in statuses">
              {{status}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <!-- <h2>Status</h2> -->
    </div>
    <md-button class="btn1" ng-click="consoleLog();" style="text-align: center"> Edit </md-button>
  </md-list-item>

  <md-list-item class="md-2-line" ng-repeat="order in allOrders | filter: update">
<!--     <md-checkbox></md-checkbox> -->
    <div style="width: 100px"></div>
    <div class="md-list-item-text">
        <h3> {{ order.user | limitTo: 20 }} </h3>
    </div>
     <div class="md-list-item-text">
        <h3 ng-repeat="product in order.products">
            <img ng-src="{{product.images[0]}}" class="md-avatar"/>
            {{ product.title }}
        </h3>
        <h3 ng-hide="order.products.length"> No Products </h3>
    </div>
    <div class="md-list-item-text" ng-show="order.findalPrice.length">
        <p>{{order.finalPrice}}</p>
    </div>
    <div class="md-list-item-text">
        <p>{{order.status}}</p>
    </div>
    <md-button class="btn1" ng-click="editOrderForm(order);" style="text-align: center"> Edit </md-button>
  </md-list-item>

</md-list>
