<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197" id="filterBar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Filter by location" ng-model="searchText">
        </div>
      </form>

      <form class="navbar-form navbar-left">
        <select class="form-control" ng-options="category for category in categories" ng-model="selectedCat"></select>
        <button ng-click="searchByCat()" class="btn btn-default">Search</button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- bootstrap affix pluggin not working -->