<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197" id="filterBar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" autocomplete="off" spellcheck="false" placeholder="Filter by location" ng-model="locationFilter">
          <input type="text" class="form-control" placeholder="Filter by category" ng-model="categoryFilter">
        </div>
      </form>


        <h4 class="sliderTitle">Max Price: {{ maxPrice | myCurrency }}</h4>
      <md-slider  ng-model="maxPrice" min="0" max="10000">
      </md-slider>

      <md-slider  ng-model="minPrice" min="0" max="10000">
      </md-slider>
        <h4 class="sliderTitle">Min Price: {{ minPrice | myCurrency }}</h4>


    </div>
  </div>
</nav>